<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible content-type" content="IE=edge text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./style.css" type="text/css">
</head>
<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <div role="main">
        <p><%-content %></p>
        <form action="/" method="post">
        <p><input type="text" name="message">
            <input type="submit" value="送信"></p>
        </form>
    </div>
</body>
</html>